# Emacs
*~
\#*\#
.\#*

# vim
*.sw*

# Marker files for syntax checking
*.lint

# Output files
files/

# MacOS
.DS_Store

# cqp-2018 detritus
ASCIIMathML.js
LaTeXMathML.js
asciidoc.css
asciidoc.js
docbook-xsl.css
pygments.css
toc.js
toc2.css
xhtml11-quirks.css

# reveal
reveal.js/
revealjs-*.tar.gz
!reveal.js/css/print/paper.css
!reveal.js/css/print/pdf.css
!reveal.js/css/print/paper.css
!reveal.js/css/print/pdf.css
!reveal.js/css/reveal.css
!reveal.js/css/theme/custom.css
!reveal.js/js/reveal.js
!reveal.js/lib/js/classList.js
!reveal.js/lib/js/head.min.js
!reveal.js/lib/js/html5shiv.js
!reveal.js/plugin/notes/notes.js
!reveal.js/plugin/zoom-js/zoom.js
